
$top: 56px;
$size-bar-size: 150px;
$border-color:  #eee;

.navbar {
    border-bottom: 1px solid $border-color;
}

.sidebar {
    position: fixed;
    top: $top;
    bottom: 0;
    left: 0;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid $border-color;
    width: $size-bar-size;
}

.main {
    position: fixed;
    left: $size-bar-size;
    right: 0;
    top: $top;
    bottom: 0;
    // background-color: #6a70a0;
    border-left: 1px solid $border-color;
}

.display-4 {
    font-size: 1.95rem;
    font-weight: 200;
    line-height: 1.1;
}

.dropdown-menu.mb-dropdown {
    left: initial;
    right: 15px;
    top: 45px;
    position: absolute;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-brand {
    font-size: 32px;
    font-weight: 300;
}

// .list-group-item:last-child {
//     border-bottom-right-radius: 0;
//     border-bottom-left-radius: 0;
// }

// .form-control {
//     border-radius: 0;
// }