doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color" content="#000000")
    title= title
  body
    div(id='root')
    script(type="text/javascript" src=`/${app}.js`)
    link(rel="stylesheet" type="text/css" href=`/css/app-styles.css`)
    link(rel="stylesheet" type="text/css" href=`/css/${style}-app-styles.css`)
