html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
  body
    div(id='root')
    script(type="text/javascript" src=`/login.js`)